{% load static %}
{% include "header.html" %}

<main>
  	<div class="container mt-header">
      {% block content %}
        <article class="row pt-header d-flex justify-content-center" id="step2">
          <form action="" method=POST>
            {% csrf_token %}
              <div class="form-group">
                <h1>Вход</h1>
                <br>
                <label for="exampleInputEmail1">Имя пользователя</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp" >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input type="password" class="form-control" name="password" >
              </div>
            <input type="submit" value="Войти" class="btn btn-secondary">
          </form>
        </article>
      {% endblock %}
    </div>
</main>