{% load static %}
{% include "header.html" %}

<main>
	<div class="container mt-header">
		<article id="VueApp">
			<section class="row pt-header" id="step4">
				<form action="https://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin=tortiru&Culture=ru&Encoding=utf-8&OutSum={{ cost }}&shp_interface=link&SignatureValue={{ signature }}" method="get">
					<div class="col">
						<div class="d-flex flex-column position-relative pb-5">
							<h2 class="fs_40 font_Gogh cake_blue text-center align-self-center">Спасибо за заказ!</h2>
							<div class="d-flex align-items-center flex-wrap mb-3">
						  		<span class="me-5 fs_30 cake_pink text-center">Проверьте правильность введенных данных<br></span>
							</div>
							<div class="d-flex align-items-center flex-wrap mb-3">
								<p class="me-5 fs_20 cake_blue">Номер телефона: </p>
								<p class="cake_grey mt-3">{{ phone }}<br></p>
							</div>
							<div class="d-flex align-items-center flex-wrap mb-3">
								<p class="me-5 fs_20 cake_blue">Ваш e-mail: </p>
								<p class="cake_grey mt-3">{{ email }}<br></p>
							</div>
							<div class="d-flex align-items-center flex-wrap mb-3">
								<span class="me-5 fs_20 cake_blue">Адрес доставки</span>
								<p class="cake_grey mt-3">{{ address }}</p>
							</div>
							<button type="submit" class="btn text-white rounded-pill mt-3 shadow-none cake__button cake__bg_pink">Оплатить
							</button>
						</div>
					</div>
				<form>
			</section>
		</article>
	</div>
</main>

{% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="{% static 'index.js' %}"></script>
<script src="{% static 'registration.js' %}"></script>

</body>

</html>