{% load static %}
{% include "header.html" %}

<main>
	<div class="container mt-header">
		<div class="d-flex flex-column position-relative pb-5">
			<h2 class="fs_40 font_Gogh cake_blue text-center align-self-center">Cогласие на обработку персональных данных</h2>
			<p class="my-1 fs_30 cake_blue">Настоящим я в соответствии с требованиями статьи 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», даю свое согласие пекарне BakeCake для использования на своем сайте на автоматизированную, а также без использования средств автоматизации, обработку моих персональных данных:</p>
			<ul>
				<li class="my-1 fs_30 cake_blue">имя,</li>
				<li class="my-1 fs_30 cake_blue">номер телефона</li>
				<li class="my-1 fs_30 cake_blue">адрес электронной почты</li>
			</ul>
			<p class="my-1 fs_30 cake_blue">в целях осуществления действий по:</p>
			<ul>
				<li class="my-1 fs_30 cake_blue">заказа изготовления или покупки готового торта;</li>
				<li class="my-1 fs_30 cake_blue">направления информации о текущих акциях и скидках.</li>
			</ul>

			<p class="my-1 fs_30 cake_blue">Предоставляю Операторам сайта и уполномоченным на то работникам осуществлять все действия (операции) с моими персональными данными, включая сбор, систематизацию, накопление, хранение, обновление, изменение, использование, обезличивание, блокирование, уничтожение.</p>
			<p class="my-1 fs_30 cake_blue">Принятием (акцептом) Согласия является предоставление Пользователем своих вышеуказанных персональных данных Оператору сайта через сайт. Для этого Пользователь вписывает указанные данные в форму обратной связи, размещенную на сайте, и нажимает на соответствующую кнопку для регистрации в системе и(или) оплаты заказа. Моментом принятия Согласия является нажатие соответствующей кнопки.</p>
			<p class="my-1 fs_30 cake_blue">Срок действия настоящего согласия – 1 год после завершения использования сервиса (получения услуги).</p>
			<p class="my-1 fs_30 cake_blue">Настоящее согласие на обработку персональных данных может быть отозвано в порядке, установленном Федеральным законом Российской Федерации от 27.07.2006 № 152-ФЗ «О персональных данных».</p>
			<p class="my-1 fs_30 cake_blue">В случае отзыва согласия на обработку моих персональных данных сервис вправе не прекращать их обработку до окончания срока действия настоящего согласия.</p>
			<hr />
	</div>
</main>

{% include "footer.html" %}

</body>

</html>